.cup {
  position: relative;
  width: 10vw;
  height: 9vw;
  left: 0;
  border: 0.5vw solid #ffefdb;
  box-shadow: 0 0 0 12px #352a22;
  border-radius: 10px 10px 60px 75px;
  background: url('coffee_animation.png');
  background-repeat: repeat-x;
  background-position: 0 65vw;
  animation: filling 5s infinite;
  z-index: -1;
}

@keyframes filling {
  0%, 100% {
      background-position: 0 65vw;
  }

  50% {
      background-position: 30vw -3vw;
  }
}

.cup .cup-handle {
  position: absolute;
  top: 0.05vw;
  right: -5vw;
  width: 3vw;
  height: 6vw;
  border: 0.5vw solid #352a22;
  border-radius: 20px 10px 50px 20px;
}

.cup .steam {
  position: absolute;
  border-radius: 10px 2px;
  width: 1vw;
  animation: steaming 3s infinite;
}

@keyframes steaming {
  0%, 100% {
      opacity: 0;
  }

  50% {
      opacity: 9;
      filter: blur(0.1vw);
      transform: translateY(-2vw);
  }
}

.cup .steam:nth-child(1) {
  top: -3vw;
  left: 4vw;
  height: 3vw;
  background: #8e5a3433;
  animation-delay: 0.6s;
}

.cup .steam:nth-child(2) {
  top: -6vw;
  left: 8vw;
  height: 5vw;
  background: #8e5a3433;
  animation-delay: 1.2s;
}

.cup .steam:nth-child(3) {
  top: -4vw;
  left: 1vw;
  height: 4vw;
  background: #8e5a3433;
  animation-delay: 2s;
}
.animations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9vw;
}

h1{
  font-size: 250%;
  font-family: "Lucida Handwriting", cursive;
  text-align: center;
}

h3{
  font-size:175%;
  color:#493628
}

.slider {
  position: relative;
  width: 60%;
  overflow: hidden;
}
.images {
  display: flex;
  width: 100%;
}
.images img {
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}
.images input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #ECB176 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {background: #ECB176;}
#img11:checked ~ .m1 {
  margin-left: 0;
}
#img12:checked ~ .m2 {
  margin-left: -100%;
}
#img13:checked ~ .m3 {
  margin-left: -200%;
}
#img14:checked ~ .m4 {
  margin-left: -300%;
}
#img21:checked ~ .m1 {
  margin-left: 0;
}
#img22:checked ~ .m2 {
  margin-left: -100%;
}
#img23:checked ~ .m3 {
  margin-left: -200%;
}
#img24:checked ~ .m4 {
  margin-left: -300%;
}
#img31:checked ~ .m1 {
  margin-left: 0;
}
#img32:checked ~ .m2 {
  margin-left: -100%;
}
#img33:checked ~ .m3 {
  margin-left: -200%;
}
#img34:checked ~ .m4 {
  margin-left: -300%;
}
#img41:checked ~ .m1 {
  margin-left: 0;
}
#img42:checked ~ .m2 {
  margin-left: -100%;
}
#img43:checked ~ .m3 {
  margin-left: -200%;
}
#img44:checked ~ .m4 {
  margin-left: -300%;
}
#img51:checked ~ .m1 {
  margin-left: 0;
}
#img52:checked ~ .m2 {
  margin-left: -100%;
}
#img53:checked ~ .m3 {
  margin-left: -200%;
}
#img54:checked ~ .m4 {
  margin-left: -300%;
}